#innerBox{
    margin: 15%;
    margin-right: 15%;
    margin-top: 10%;
    margin-bottom: 10%;
    border: 2px solid #000000;
    padding: 5%;
}

#outerBox{
    border: 2px solid black;
    margin:2%;
}